.red {
    border: 1px solid red !important;
}

.blue {
    border: 1px solid blue !important;
}

.bg-blackc {
    background-color: black !important;
}

.bg-gray-trans {
    background-color: rgba(0, 0, 0, 0.514);
}

.min-h-screen {
    min-height: 100vh !important;
}

.border-bottom-1 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.274);
}

.check-group span {
    font-weight: 200 !important;
    
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.box-shadow1 {
    box-shadow: 6px 12px 60px rgba(0, 0, 0, .2) !important;
}

.box-shadow2 {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2) !important;
}

@media (max-width: 768px) {
    .aspect-w-1 {
        width: 100%;
    }
}